{% extends 'bootstrap/base.html' %}
{% block title %} Wordle Solver {% endblock %}
{% block content %}
<h4>
    Input Greens:
</h4>
<p>If none, leave blank.</p>
<form>
    <div class="form-row justify-content-center">
        <div class="col-xs-2 mx-1">
            <input class="form-control" placeholder="X" type="text">
        </div>
        <div class="col-xs-2 mx-1">
            <input class="form-control" placeholder="X" type="text">
        </div>
        <div class="col-xs-2 mx-1">
            <input class="form-control" placeholder="X" type="text">
        </div>
        <div class="col-xs-2 mx-1">
            <input class="form-control" placeholder="X" type="text">
        </div>
        <div class="col-xs-2 mx-1">
            <input class="form-control" placeholder="X" type="text">
        </div>
    </div>
</form>

{% endblock %}